@media (max-width: 768px){
    .top {
        padding: 0 25px 0 0;
    }
    .about-item{
        width: 100%;
    }
    .food-items{
        width: 100%;
    }
    .phan-hoi-item{
        width: 100%;
        margin-bottom: 20px;
    }
    .team-items{
        width: 100%;
        margin-bottom: 60px;
    }
    .gioithieu-items{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .order-item{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .tuyendung-items{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .items{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .nav-find{
        width: 100%;
        margin-left: 30px;
        margin-right: 30px;
    }
    .nav-find::before{
        content: "";
        display: block;
        width: 100%;
        margin-bottom: 30px;
        height: 3px;
        background-color: #e0e0e0;
    }
    .item{
        width: 100%;
    }
    .item span{
        margin-top: 0;
    }
    input[type="text"]:focus{
        width: 400px;
    }   
}